albumentations==2.0.1
joblib==1.2.0
matplotlib==3.6.3
numpy==2.2.2
opencv_python==4.10.0.84
opencv_python_headless==4.11.0.86
pandas==1.5.3
python-dotenv==1.0.1
python_nmap==0.7.1
scikit_learn==1.2.1
seaborn==0.13.2
ultralytics==8.3.57